CustomBasicAuthentication/CustomBasicAuthenticationClient/bin/
CustomBasicAuthentication/CustomBasicAuthenticationLibrary/obj/
CustomBasicAuthentication/CustomBasicAuthentication/obj/
CustomBasicAuthentication/CustomBasicAuthenticationClient/obj/
CustomBasicAuthentication/CustomBasicAuthentication/bin/
CustomBasicAuthentication/Backup/
CustomBasicAuthentication/UpgradeLog.htm
