<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appSettings>
    <add key="securityQuestion" value="njbasan@ai1" />
    <add key="SampleService" value="SampleService" />
  </appSettings>
  <connectionStrings>
    <add name="CustomConnectionString" connectionString="Data Source=(local);Initial Catalog=RealHealthyRecipes;User Id=sa;Password=zxcvb123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
	<system.web>
		<!--<authentication mode="Windows" />-->
  <compilation debug="true" targetFramework="4.0" />
		<!--<authentication mode="None"/>-->
	    <membership defaultProvider="CustomProvider">
			<providers>
				<add name="CustomProviderExclude" type="CustomBasicAuthenticationLibrary.Helper.CustomMembershipProvider" />
				<add name="CustomProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CustomConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="SampleService" />
			</providers>
		</membership>

		<roleManager enabled="true" defaultProvider="CustomProvider">
			<providers>
				<clear />
				<add name="CustomProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CustomConnectionString" applicationName="SampleService" />
			</providers>
		</roleManager>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="CustomBasicAuthenticationLibrary.SampleService" behaviorConfiguration="SampleServiceBehavior">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" binding="webHttpBinding" contract="CustomBasicAuthenticationLibrary.ISampleService" behaviorConfiguration="RestEndPointBehavior" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RestEndPointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="SampleServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
  
</configuration>
